<div class="taskBar">
    <div class="titleBar">
        <img src="../public/images/logotipo.svg" alt="Logotipo" />
        <span class="title">Newtonian</span>
    </div>
    <div class="btnsBar">
        <div id="minBtn" class="buttonBar">
            <img src="../public/images/minimize.png" alt="minimize" />
        </div>
        <div id="maxBtn" class="buttonBar">
            <img src="../public/images/maximize.png" alt="maximize" />
        </div>
        <div id="closeBtn" class="closeWindow buttonBar">
            <img src="../public/images/close.png" alt="close" />
        </div>
    </div>
</div>
