<nav class="sidebar close">
    <i class="bx bx-chevron-right toggle" id="toggle"></i>
    <div class="menu-bar">
        <div class="menu">
            <li class="nav-link">
                <input type="radio" name="sidebar-radio" id="graficos" class="sidebar-radio" />
                <label for="graficos" class="label-sidebar label-graficos">
                    <i class="bx bx-line-chart icon"></i>
                    <span class="text nav-text">Gráficos</span>
                </label>
            </li>

            <li class="nav-link">
                <input type="radio" name="sidebar-radio" id="equacoes" class="sidebar-radio" />
                <label for="equacoes" class="label-sidebar label-equacoes">
                    <i class="bx bx-math icon"></i>
                    <span class="text nav-text">Equações</span>
                </label>
            </li>

            <li class="nav-link">
                <input type="radio" name="sidebar-radio" id="sobre" class="sidebar-radio" />
                <label for="sobre" class="label-sidebar label-sobre">
                    <i class="bx bx-info-circle icon"></i>
                    <span class="text nav-text">Sobre</span>
                </label>
            </li>
        </div>

        <div>
            <li class="mode">
                <div class="sun-moon">
                    <i class="bx bx-sun icon sun"></i>
                    <i class="bx bx-moon icon moon"></i>
                </div>
                <span class="mode-text text">Light mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
