<div class="about-content">
    <div class="about-title"><h1>Bem Vindo!</h1></div>
    <div class="about-me">
        <h2>Sobre Mim</h2>
        <p>
            Opa, eu sou João Vitor Vitosoaski, estudante do 2° ano do Técnico de Informática
            Integrado ao Ensino Médio no IFC Videira - Instituto Federal Catarinense. Fascinado por
            tecnologia e física, aprendi a programar em 2021, e desde então procuro me
            profissionalizar na área de tecnologia/programação.
        </p>
    </div>
    <div class="myImg"><img src="../public/images/foto.svg" alt="Minha Selfie" /></div>
    <div class="appleImg">
        <img src="../public/images/logotipo.png" alt="Logotipo" />
    </div>
    <div class="about-newtonian">
        <h2>Newtonian</h2>
        <p>
            Eu desenvolvi este aplicativo com o intuito de analisar e animar o movimento de
            diferentes corpos rolando ou deslizando sob um plano inclinado com atrito. Tudo isso
            podendo ajustar a gravidade de diferentes planetas e estrelas para ver o que acontece.
        </p>
    </div>
    <div class="social-media">
        <div>
            <h3>Redes Sociais</h3>
            <ul>
                <li class="bx bxl-instagram icon-social-media"></li>
                <li class="bx bxl-facebook-circle icon-social-media"></li>
                <li class="bx bxl-twitter icon-social-media"></li>
                <li class="bx bxl-linkedin-square icon-social-media"></li>
                <li class="bx bxl-github icon-social-media"></li>
            </ul>
        </div>
    </div>
</div>
