<main class="graphic-content">
    <div class="animation-grid">
        <canvas></canvas>
    </div>
    <div class="animation-control-grid">
        <div class="animation-control-window">
            <span class="animation-control-title">Gravidade</span>
            <div class="animation-control-radio-gravity">
                <input type="radio" name="Gravity" id="earth" class="radio-inputs" checked />
                <input type="radio" name="Gravity" id="moon" class="radio-inputs" />
                <input type="radio" name="Gravity" id="mars" class="radio-inputs" />
                <input type="radio" name="Gravity" id="sun" class="radio-inputs" />
                <label for="earth" class="label-control label-earth">Terra</label>
                <label for="moon" class="label-control label-moon">Lua</label>
                <label for="mars" class="label-control label-mars">Marte</label>
                <label for="sun" class="label-control label-sun">Sol</label>
            </div>

            <span class="animation-control-title">Corpo</span>
            <div class="animation-control-radio-corpo">
                <input type="radio" name="Corpo" id="sphere" class="radio-inputs" checked />
                <input type="radio" name="Corpo" id="cube" class="radio-inputs" />
                <input type="radio" name="Corpo" id="cylinder" class="radio-inputs" />

                <label for="sphere" class="label-control label-sphere">Esfera</label>
                <label for="cube" class="label-control label-cube">Cubo</label>
                <label for="cylinder" class="label-control label-cylinder">Cilindro</label>
            </div>
            <div class="animation-control-buttons">
                <button class="animation-control-Btn">Start</button>
                <button class="animation-control-Btn">Stop</button>
                <button class="animation-control-Btn">Reset</button>
            </div>
        </div>
    </div>
    <div class="graphic-01-grid">
        <div class="graphic-01-window"></div>
    </div>
    <div class="graphic-02-grid">
        <div class="graphic-02-window"></div>
    </div>
</main>
