<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="styles/app-style.css" />

        <title>Projeto | Newtonian</title>
    </head>
    <body>
        <div class="mainApp close" id="mainApp">
            <my-template></my-template>
            <div class="content" style="background-color: rgb(180, 62, 62)"></div>
        </div>

        <script type="module" src="scripts/appFunctions.js"></script>
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    </body>
</html>
