<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title><%- title %></title>
    </head>
    <body>
        <div class="mainApp close" id="mainApp">
            <%- include('../views/partials/menubar.ejs')%> <%-
            include('../views/partials/navbar.ejs')%>
            <div class="graphic-content">
                <div class="animation-grid">
                    <canvas></canvas>
                </div>
                <div class="animation-control-grid">
                    <div class="animation-control-window">
                        <div class="animation-control-content">
                            <span class="animation-control-title">Gravidade</span>
                            <div class="animation-control-radio-gravity">
                                <input
                                    type="radio"
                                    name="Gravity"
                                    id="terra"
                                    class="radio-inputs"
                                    checked
                                />
                                <input type="radio" name="Gravity" id="lua" class="radio-inputs" />
                                <input
                                    type="radio"
                                    name="Gravity"
                                    id="marte"
                                    class="radio-inputs"
                                />
                                <input type="radio" name="Gravity" id="sol" class="radio-inputs" />
                                <label for="terra" class="label-control label-terra">Terra</label>
                                <label for="lua" class="label-control label-lua">Lua</label>
                                <label for="marte" class="label-control label-marte">Marte</label>
                                <label for="sol" class="label-control label-sol">Sol</label>
                            </div>

                            <span class="animation-control-title">Corpo</span>
                            <div class="animation-control-radio-corpo">
                                <input
                                    type="radio"
                                    name="Corpo"
                                    id="esfera"
                                    class="radio-inputs"
                                    checked
                                />
                                <input type="radio" name="Corpo" id="cubo" class="radio-inputs" />
                                <input
                                    type="radio"
                                    name="Corpo"
                                    id="cilindro"
                                    class="radio-inputs"
                                />

                                <label for="esfera" class="label-control label-esfera"
                                    >Esfera</label
                                >
                                <label for="cubo" class="label-control label-cubo">Cubo</label>
                                <label for="cilindro" class="label-control label-cilindro"
                                    >Cilindro</label
                                >
                            </div>
                            <div class="animation-control-buttons">
                                <button class="animation-control-Btn">Start</button>
                                <button class="animation-control-Btn">Stop</button>
                                <button class="animation-control-Btn">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graphic-01-grid">
                    <div class="graphic-01-window"></div>
                </div>
                <div class="graphic-02-grid">
                    <div class="graphic-02-window"></div>
                </div>
            </div>
        </div>

        <script type="module" src="/scripts/appFunctions.js"></script>
        <script src="/scripts/animation.js"></script>
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    </body>
</html>
