* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    list-style: none;
    user-select: none;
    color: var(--font-color02);
}

.mainApp {
    height: 100vh;
    display: grid;
    grid: 30px auto / 250px auto;
    grid-template-areas: 'taskBar  taskBar' 'sideBar content';
    transition: all 0.3s ease-out;
    &.sidebar-close {
        grid: 30px auto / 88px auto;
        grid-template-areas: 'taskBar  taskBar' 'sideBar content';

        .sidebar {
            width: 88px;

            .toggle {
                transform: translateY(-50%) rotate(0deg);
                left: 30px;
            }

            .text {
                opacity: 0;
            }
        }
    }
}


::-webkit-scrollbar-track {
    background: #6c7276;
}

::-webkit-scrollbar-thumb {
    background-color: #2c3135;
    border-radius: 20px;
}
