.taskBar * {transition: all 0.3s ease-out;}
.taskBar {
    width: 100%;
    height: 30px;
    @include flexContainer(row, space-between, center);
    background-color: var(--background-taskBar);
    color: var(--font-color01);
    -webkit-app-region: drag;
    grid-area: taskBar;
    position: fixed;
    transition: all 0.3s ease-out;

    .titleBar {
        display: flex;
        gap: 10px;
        margin: 0 0 0 84px;

        img {
            width: 20px;
            height: 20px;
        }
        span {
            font-size: 14px;
        }
    }

    .btnsBar {
        @include flexContainer(row, center, center);
        -webkit-app-region: no-drag;

        .buttonBar {
            cursor: pointer;
            padding: 5px 15px 0px 15px;
            font-size: 16px;
            &:hover {
                background-color: var(--taskBar-button);
            }
        }
        .closeWindow{
            &:hover{
                background-color: #ed4144;
            }
        }

        img {
            width: 15px;
            height: 15px;
        }
    }


}










