html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  --background-taskBar: #15191c;
  --background-sidebar: #1b1f23;
  --background-items: #1b1f23;
  --background-color: #23282e;
  --button-color01: #444d58;
  --toggle-button: #272e35;
  --mode-button-color: #272e35;
  --background-radio-select: #272e35;
  --button-hover: #373e47;
  --font-color01: #ffffff;
  --font-color02: #bbbdbf;
  --click-color: #272e35;
  --taskBar-button: #272e35;
  --mode-dot: #272e35;
}

body.white {
  --background-taskBar: #c8c7c6;
  --background-sidebar: #ffffff;
  --background-items: #ffffff;
  --background-color: #f8f4f0;
  --button-color01: #5c32d1;
  --toggle-button: #695cfe;
  --mode-button-color: #eceff0;
  --background-radio-select: #c8c7c6;
  --button-hover: #5c32d1;
  --font-color01: #ffffff;
  --font-color02: #474747;
  --click-color: #eceff0;
  --taskBar-button: #b7b7b7;
  --mode-dot: #695cfe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--font-color02);
}

.mainApp {
  height: 100vh;
  display: grid;
  grid: 30px auto/250px auto;
  grid-template-areas: "taskBar  taskBar" "sideBar content";
}

.mainApp.close {
  grid: 30px auto/88px auto;
  grid-template-areas: "taskBar  taskBar" "sideBar content";
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #6c7276;
}

::-webkit-scrollbar-thumb {
  background-color: #2c3135;
  border-radius: 20px;
}

.taskBar {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-taskBar);
  color: var(--font-color01);
  -webkit-app-region: drag;
  grid-area: taskBar;
  position: fixed;
}
.taskBar .titleBar {
  display: flex;
  gap: 10px;
  margin: 0 0 0 84px;
}
.taskBar .titleBar img {
  width: 20px;
  height: 20px;
}
.taskBar .titleBar span {
  font-size: 14px;
}
.taskBar .btnsBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}
.taskBar .btnsBar .buttonBar {
  cursor: pointer;
  padding: 5px 15px 1px 15px;
}
.taskBar .btnsBar .buttonBar:hover {
  background-color: var(--taskBar-button);
  transition: 0.5s ease;
}
.taskBar .btnsBar .closeWindow:hover {
  background-color: #ed4144;
}
.taskBar .btnsBar img {
  width: 15px;
  height: 15px;
}

.sidebar {
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--background-sidebar);
  grid-area: sideBar;
  position: fixed;
  top: 30px;
}
.sidebar.close {
  width: 88px;
}
.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
  left: 30px;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar li {
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar .toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 200px;
  transform: translateY(-50%) rotate(180deg);
  height: 32px;
  width: 32px;
  background-color: var(--toggle-button);
  color: var(--font-color01);
  border-radius: 15px;
  font-size: 22px;
  cursor: pointer;
}
.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  overflow-y: scroll;
}
.sidebar .menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .menu {
  margin-top: 40px;
}
.sidebar .menu-bar .menu .sidebar-radio {
  display: none;
}
.sidebar .menu-bar .menu .label-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  list-style: none;
  height: 100%;
  background-color: transparent;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
}
.sidebar .menu-bar .menu .label-sidebar:hover {
  background-color: var(--button-hover);
}
.sidebar .menu-bar .menu .label-sidebar:active {
  background-color: var(--click-color);
}
.sidebar .menu-bar .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  font-size: 20px;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--mode-button-color);
  position: relative;
}
.sidebar .menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}
.sidebar .menu-bar .mode i {
  position: absolute;
}
.sidebar .menu-bar .mode .sun {
  opacity: 1;
}
.sidebar .menu-bar .mode .moon {
  opacity: 0;
}
.sidebar .menu-bar .mode .toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  border-radius: 6px;
  cursor: pointer;
}
.sidebar .menu-bar .mode .toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--background-items);
}
.sidebar .menu-bar .mode .toggle-switch .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--mode-dot);
}

#graficos:checked ~ .label-graficos,
#equacoes:checked ~ .label-equacoes,
#sobre:checked ~ .label-sobre {
  background-color: var(--button-color01);
}

#graficos:checked ~ .label-graficos .nav-text,
#equacoes:checked ~ .label-equacoes .nav-text,
#sobre:checked ~ .label-sobre .nav-text,
#graficos:checked ~ .label-graficos .icon,
#equacoes:checked ~ .label-equacoes .icon,
#sobre:checked ~ .label-sobre .icon {
  color: white;
}

body.white .label-sideBar:hover > .icon,
body.white .label-sideBar:hover > .nav-text {
  color: white;
}

body.white .mode .sun-moon i.sun {
  opacity: 0;
}

body.white .mode .sun-moon i.moon {
  opacity: 1;
}

body.white .sidebar .menu-bar .mode .toggle-switch .switch::before {
  left: 20px;
}

.graphic-content {
  grid-area: content;
  display: grid;
  grid: 57% 42%/50% 15% 35%;
  grid-template-areas: "animation animation animation-control" "graphic-01 graphic-02 graphic-02";
  background-color: var(--background-color);
}
.graphic-content .animation-grid {
  grid-area: animation;
  padding: 20px 15px 0px 35px;
  min-width: 670px;
  min-height: 395px;
}
.graphic-content .animation-grid canvas {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.graphic-content .animation-control-grid {
  grid-area: animation-control;
  background-color: var(--background-color);
  padding: 60px 35px 35px 22.5px;
  min-width: 360px;
  min-height: 395px;
}
.graphic-content .animation-control-grid .animation-control-window {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 21px #1e2228, -10px -10px 21px #282e34;
}
.graphic-content .animation-control-grid .animation-control-window .animation-control-title {
  font-size: 2rem;
  padding: 20px 0 15px 0px;
}
.graphic-content .animation-control-grid .animation-control-window .animation-control-radio-gravity,
.graphic-content .animation-control-grid .animation-control-window .animation-control-radio-corpo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-radio-select);
  width: 85%;
  height: 14%;
  border-radius: 5px;
  font-size: 1.6rem;
}
.graphic-content .animation-control-grid .animation-control-window .radio-inputs {
  display: none;
}
.graphic-content .animation-control-grid .animation-control-window .label-control {
  padding: 4px 7px 4px 7px;
  margin: 0px 9px 0 9px;
  border-radius: 5px;
}
.graphic-content .animation-control-grid .animation-control-window .label-control:hover {
  background-color: var(--button-color01);
}
.graphic-content .animation-control-grid .animation-control-window .animation-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  gap: 4%;
}
.graphic-content .animation-control-grid .animation-control-window .animation-control-buttons .animation-control-Btn {
  width: clamp(75px, 24%, 140px);
  height: clamp(30px, 44%, 50px);
  border-radius: 5px;
  border: 0;
  background-color: var(--button-color01);
  font-size: 1.6rem;
  margin: 0 5px 0 5px;
}
.graphic-content .animation-control-grid .animation-control-window .animation-control-buttons .animation-control-Btn:hover {
  background-color: var(--button-hover);
}
.graphic-content .animation-control-grid .animation-control-window .animation-control-buttons .animation-control-Btn:active {
  background-color: var(--clic-color01);
}
.graphic-content .graphic-01-grid {
  grid-area: graphic-01;
  background-color: var(--background-color);
  padding: 20px 9.5px 25px 35px;
  min-width: 515px;
  min-height: 295px;
}
.graphic-content .graphic-02-grid {
  grid-area: graphic-02;
  background-color: var(--background-color);
  padding: 20px 35px 20px 9.5px;
  min-width: 512px;
  min-height: 295px;
}
.graphic-content .graphic-01-window,
.graphic-content .graphic-02-window {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 7px 7px 14px #1e2328, -7px -7px 14px #282d34;
}

body.white .animation-control-Btn {
  color: white;
}

body.white .animation-control-Btn:hover {
  background-color: #7958d7;
}

body.white .animation-control-Btn:active {
  background-color: #6435e5;
}

#terra:checked ~ .label-terra,
#cilindro:checked ~ .label-cilindro,
#lua:checked ~ .label-lua,
#marte:checked ~ .label-marte,
#sol:checked ~ .label-sol,
#esfera:checked ~ .label-esfera,
#cubo:checked ~ .label-cubo {
  background-color: var(--button-color01);
}

body.white #cilindro:checked ~ .label-cilindro,
body.white #cubo:checked ~ .label-cubo,
body.white #esfera:checked ~ .label-esfera,
body.white #sol:checked ~ .label-sol,
body.white #marte:checked ~ .label-marte,
body.white #lua:checked ~ .label-lua,
body.white #terra:checked ~ .label-terra {
  background-color: #eceff0;
}

body.white .label-control:hover {
  background-color: #eceff0;
}

body.white .animation-window,
body.white .animation-control-window,
body.white .graphic-01-window,
body.white .graphic-02-window {
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
}

.about-content {
  grid-area: content;
  display: grid;
  background-color: var(--background-color);
  grid: 14% 32% 32% 22%/50% 50%;
  grid-template-areas: "title title" "about-me myImg" "appleImg about-newtonian" "social-media social-media";
}
.about-content .about-title {
  grid-area: title;
  text-align: center;
  line-height: 96.5px;
}
.about-content .about-me {
  grid-area: about-me;
  padding: 0 0 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-content .myImg {
  grid-area: myImg;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 8% 0 0;
}
.about-content .appleImg {
  grid-area: appleImg;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 12%;
}
.about-content .about-newtonian {
  grid-area: about-newtonian;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 45px 0 0;
}
.about-content .social-media {
  grid-area: social-media;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-content .social-media .icon-social-media {
  font-size: 30px;
  color: var(--button-color01);
  padding: 0 5px 0 5px;
  cursor: pointer;
}
.about-content .social-media .icon-social-media:hover {
  color: var(--button-hover);
}
.about-content .social-media ul {
  display: inline-flex;
  gap: 20px;
  padding: 15px 0 0 0;
}
.about-content .social-media h3 {
  padding: 15px 0 0 0;
}
.about-content p {
  padding: 15px 0 0 0;
}
.about-content img {
  height: 150px;
}

body.white .icon-social-media {
  color: #695cfe;
}

@media (min-width: 1400px) {
  html {
    font-size: 71.5%;
  }
  .animation-control-window {
    gap: 10px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 80%;
  }
  .animation-control-window {
    gap: 15px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 90%;
  }
}
@media (width: 1280px) and (height: 1024px) {
  .graphic-content {
    grid: 550px 450px 550px 550px/100%;
    grid-template-areas: "animation" "animation-control" "graphic-01" "graphic-02";
  }
  .animation-control-grid {
    grid-area: animation-control;
    background-color: var(--background-color);
    padding: 60px 35px 35px 22.5px;
    width: 500px;
    margin: 0 0 0 32%;
  }
  .graphic-02-grid {
    padding: 25px 35px 25px 35px;
  }
}/*# sourceMappingURL=main.css.map */