@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    --background-taskBar: #15191c;
    --background-sidebar: #1b1f23;
    --background-items: #1b1f23;
    --background-color: #23282e;
    --button-color01: #444d58;
    --toggle-button: #272e35;
    --mode-button-color: #272e35;
    --background-radio-select: #272e35;
    --button-hover: #373e47;
    --font-color01: #ffffff;
    --font-color02: #bbbdbf;
    --click-color: #272e35;
    --taskBar-button: #272e35;
    --mode-dot: #272e35;
}

body.white {
    --background-taskBar: #c8c7c6;
    --background-sidebar: #ffffff;
    --background-items: #ffffff;
    --background-color: #f8f4f0;
    --button-color01: #5c32d1;
    --toggle-button: #695cfe;
    --mode-button-color: #eceff0;
    --background-radio-select: #c8c7c6;
    --button-hover: #5c32d1;
    --font-color01: #ffffff;
    --font-color02: #474747;
    --click-color: #eceff0;
    --taskBar-button: #b7b7b7;
    --mode-dot: #695cfe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    transition: all 0.3s ease;
    user-select: none;
    color: var(--font-color02);
}

.mainApp {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 30px auto / 250px auto;
    grid-template-areas: 'taskBar  taskBar' 'sideBar content';
}

.mainApp.close {
    grid: 30px auto / 88px auto;
    grid-template-areas: 'taskBar  taskBar' 'sideBar content';
}

.taskBar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-taskBar);
    color: var(--font-color01);
    -webkit-app-region: drag;
    grid-area: taskBar;
    position: fixed;
}

.titleBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 84px;
}

.titleBar img {
    width: 20px;
    height: 20px;
}

.title {
    font-size: 14px;
}

.buttonBar {
    cursor: pointer;
    padding: 5px 15px 1px 15px;
}
.buttonBar:hover {
    background-color: var(--taskBar-button);
    transition: 0.5s ease;
}

.closeWindow.buttonBar:hover {
    background-color: #ed4144;
}

.btnsBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
}

.btnsBar img {
    width: 15px;
    height: 15px;
}

.sidebar {
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--background-sidebar);
    z-index: 100;
    grid-area: sideBar;
    position: fixed;
    top: 30px;
}
.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text {
    opacity: 0;
}

.sidebar .toggle {
    position: absolute;
    top: 30px;
    left: 200px;
    transform: translateY(-50%) rotate(180deg);
    height: 32px;
    width: 32px;
    background-color: var(--toggle-button);
    color: var(--font-color01);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
    left: 30px;
}

.sidebar .menu {
    margin-top: 40px;
}

.label-sideBar {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
}

.label-sideBar:hover {
    background-color: var(--button-hover);
}
.label-sideBar:active {
    background-color: var(--click-color);
}

.sideBar-radio {
    display: none;
}
#graficos:checked ~ .label-graficos,
#equacoes:checked ~ .label-equacoes,
#sobre:checked ~ .label-sobre {
    background-color: var(--button-color01);
}
#graficos:checked ~ .label-graficos .nav-text,
#equacoes:checked ~ .label-equacoes .nav-text,
#sobre:checked ~ .label-sobre .nav-text,
#graficos:checked ~ .label-graficos .icon,
#equacoes:checked ~ .label-equacoes .icon,
#sobre:checked ~ .label-sobre .icon {
    color: white;
}
body.white .label-sideBar:hover > .icon,
body.white .label-sideBar:hover > .nav-text {
    color: white;
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}

.mode {
    border-radius: 6px;
    background-color: var(--mode-button-color);
    position: relative;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}
.mode .sun-moon i.sun {
    opacity: 1;
}
.mode .sun-moon i.moon {
    opacity: 0;
}
body.white .mode .sun-moon i.sun {
    opacity: 0;
}
body.white .mode .sun-moon i.moon {
    opacity: 1;
}

.toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--background-items);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--mode-dot);
}

body.white .switch::before {
    left: 20px;
}

.graphic-content {
    grid-area: content;
    display: grid;
    grid: 57% 42% / 50% 15% 35%;
    grid-template-areas: 'animation animation animation-control' 'graphic-01 graphic-02 graphic-02';
    background-color: var(--background-color);
    overflow: hidden;
}

.animation-grid {
    grid-area: animation;
    padding: 20px 15px 0px 35px;
    min-width: 670px;
    min-height: 395px;
}
.animation-control-grid {
    grid-area: animation-control;
    background-color: var(--background-color);
    padding: 75px 15px 70px 22.5px;
    min-width: 360px;
    min-height: 395px;
}

.graphic-01-grid {
    grid-area: graphic-01;
    background-color: var(--background-color);
    padding: 20px 9.5px 25px 35px;
    min-width: 515px;
    min-height: 295px;
}

.graphic-02-grid {
    grid-area: graphic-02;
    background-color: var(--background-color);
    padding: 20px 35px 20px 9.5px;
    min-width: 512px;
    min-height: 295px;
}

canvas {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.animation-control-window {
    background-color: var(--background-color);
    width: 93%;
    height: 98%;
    border-radius: 20px;
    box-shadow: 10px 10px 21px #1e2228, -10px -10px 21px #282e34;
}

.graphic-01-window,
.graphic-02-window {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 7px 7px 14px #1e2328, -7px -7px 14px #282d34;
}

body.white .animation-window,
body.white .animation-control-window,
body.white .graphic-01-window,
body.white .graphic-02-window {
    box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
}
.animation-control-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}
.animation-control-radio-gravity,
.animation-control-radio-corpo {
    background-color: var(--background-radio-select);
    width: 73%;
    height: 75%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(12px, 1.1vw, 22px);
}
.radio-inputs {
    display: none;
}

.label-control {
    padding: 4px 6px 4px 6px;
    margin: 0px 9px 0 9px;
    border-radius: 5px;
}

.label-control:hover {
    background-color: var(--button-color01);
}

body.white .label-control:hover {
    background-color: #eceff0;
}
.animation-control-title {
    font-size: clamp(17px, 1.35vw, 26px);
    padding: 20px 0 15px 0px;
}

.animation-control-Btn {
    width: clamp(75px, 25%, 140px);
    height: clamp(30px, 45%, 50px);
    border-radius: 5px;
    border: 0;
    background-color: var(--button-color01);
    font-size: clamp(12px, 1.1vw, 17px);
    margin: 0 5px 0 5px;
}
.animation-control-content {
    width: 100%;
    height: 100%;
}
.animation-control-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0px 0px;
    gap: 20px;
}
body.white .animation-control-Btn {
    color: white;
}
.animation-control-Btn:hover {
    background-color: var(--button-hover);
}
.animation-control-Btn:active {
    background-color: var(--clic-color01);
}

body.white .animation-control-Btn:hover {
    background-color: #7958d7;
}
body.white .animation-control-Btn:active {
    background-color: #6435e5;
}

#terra:checked ~ .label-terra,
#cilindro:checked ~ .label-cilindro,
#lua:checked ~ .label-lua,
#marte:checked ~ .label-marte,
#sol:checked ~ .label-sol,
#esfera:checked ~ .label-esfera,
#cubo:checked ~ .label-cubo {
    background-color: var(--button-color01);
}

body.white #cilindro:checked ~ .label-cilindro,
body.white #cubo:checked ~ .label-cubo,
body.white #esfera:checked ~ .label-esfera,
body.white #sol:checked ~ .label-sol,
body.white #marte:checked ~ .label-marte,
body.white #lua:checked ~ .label-lua,
body.white #terra:checked ~ .label-terra {
    background-color: #eceff0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #6c7276;
}

::-webkit-scrollbar-thumb {
    background-color: #2c3135;
    border-radius: 20px;
}

.about-content {
    grid-area: content;
    display: grid;
    grid: 14% 32% 32% 22% / 50% 50%;
    grid-template-areas:
        'title title'
        'about-me myImg'
        'appleImg about-newtonian'
        'social-media social-media';
    background-color: var(--background-color);
}

.about-title {
    grid-area: title;
    text-align: center;
    line-height: 96.5px;
}
.about-me {
    grid-area: about-me;
    padding: 0 0 0 45px;
}
.about-newtonian {
    grid-area: about-newtonian;
    padding: 0 45px 0 0;
}
.about-me,
.about-newtonian {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me p,
.about-newtonian p {
    padding: 15px 0 0 0;
}
.myImg {
    grid-area: myImg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8% 0 0;
}
.myImg img,
.appleImg img {
    height: 150px;
}
.appleImg {
    grid-area: appleImg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 12%;
}

.social-media {
    grid-area: social-media;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.social-media ul {
    display: inline-flex;
    gap: 20px;
    padding: 15px 0 0 0;
}
.social-media h3 {
    padding: 15px 0 0 0;
}
.icon-social-media {
    font-size: 30px;
    color: var(--button-color01);
    cursor: pointer;
    padding: 0 5px 0 5px;
}

body.white .icon-social-media {
    color: #695cfe;
}
.icon-social-media:hover {
    color: var(--button-hover);
}
